---
import Layout from "../layouts/Layout.astro";
import ButtonCustom from "../components/Button.astro";
import Whyus from "../components/whyus.astro";
---

<Layout>
    <section class="py-20 px-6 max-w-7xl mx-auto">
        <div class="text-center mb-16">
            <h1
                class="text-4xl md:text-5xl font-extrabold text-cyan-900 mb-4 animate-fade-in-up"
            >
                Nuestro Equipo
            </h1>
            <p
                class="text-lg text-gray-700 max-w-3xl mx-auto animate-fade-in-up delay-200"
            >
                En Codebrand creemos en el poder del talento colectivo. Cada
                miembro de nuestro equipo aporta su experiencia, creatividad y
                compromiso para llevar a cabo proyectos que impactan.
            </p>
        </div>

        <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10 animate-fade-in-up delay-300"
        >
            <!-- Miembro del equipo -->
            <div
                class="group bg-white rounded-3xl shadow-xl overflow-hidden relative transform transition-all duration-500 hover:-translate-y-2 hover:shadow-2xl"
            >
                <img
                    src="../photos/team-code/RamonNuila.png"
                    alt="Ramon Nuila"
                    class="w-full h-72 object-cover object-top group-hover:scale-105 transition-transform duration-500"
                />
                <div class="p-6">
                    <h3 class="text-xl font-bold text-cyan-900">Ramon Nuila</h3>
                    <p class="text-sm text-gray-500 mb-2">CEO & Founder</p>
                    <p class="text-gray-600 text-sm">
                        Full Stack Developer y estratega digital enfocado en
                        crecimiento empresarial, software escalable, ha liderado
                        proyectos exitosos en diversas áreas, desde el
                        desarrollo de software hasta la creación de marcas. Su
                        enfoque es cero excusas, siempre buscando resultados.
                    </p>
                </div>
            </div>

            <div
                class="group bg-white rounded-3xl shadow-xl overflow-hidden relative transform transition-all duration-500 hover:-translate-y-2 hover:shadow-2xl"
            >
                <img
                    src="../photos/team-code/Perez.png"
                    alt="Enrique Perez"
                    class="w-full h-72 object-cover object-top group-hover:scale-105 transition-transform duration-500"
                />
                <div class="p-6">
                    <h3 class="text-xl font-bold text-cyan-900">
                        Enrique Pérez
                    </h3>
                    <p class="text-sm text-gray-500 mb-2">
                        Social Media Expert
                    </p>
                    <p class="text-gray-600 text-sm">
                        Creador de experiencias digitales funcionales con mas de
                        10 años en la industria de Diseño Grafico. Su enfoque en
                        la estrategia de redes sociales y la creación de
                        contenido lo convierten en un activo valioso para
                        cualquier equipo.
                    </p>
                </div>
            </div>

            <div
                class="group bg-white rounded-3xl shadow-xl overflow-hidden relative transform transition-all duration-500 hover:-translate-y-2 hover:shadow-2xl"
            >
                <img
                    src="../photos/team-code/Mariacasco.png"
                    alt="Jorge Herrera"
                    class="w-full h-72 object-cover object-top group-hover:scale-105 transition-transform duration-500"
                />
                <div class="p-6">
                    <h3 class="text-xl font-bold text-cyan-900">Maria Casco</h3>
                    <p class="text-sm text-gray-500 mb-2">Product Manager</p>
                    <p class="text-gray-600 text-sm">
                        Con mas de 10 años de experiencia en la industria de
                        textil y productos promocionales, Maria es una experta
                        en la gestión de productos y la creación de Productos
                        para marcas. Su enfoque es la en la entrega de productos
                        de alta calidad a un precio altamente competitivo.
                    </p>
                </div>
            </div>

            <div
                class="group bg-white rounded-3xl shadow-xl overflow-hidden relative transform transition-all duration-500 hover:-translate-y-2 hover:shadow-2xl"
            >
                <img
                    src="../photos/team-code/Cmorel.png"
                    alt="Carlos Méndez"
                    class="w-full h-72 object-cover object-top group-hover:scale-105 transition-transform duration-500"
                />
                <div class="p-6">
                    <h3 class="text-xl font-bold text-cyan-900">
                        Larisa Lopez
                    </h3>
                    <p class="text-sm text-gray-500 mb-2">UX/UI Expert</p>
                    <p class="text-gray-600 text-sm">
                        Con mas de 8 años de experiencia en la industria de
                        UX/UI, Larisa es una experta en la creación de
                        experiencias digitales funcionales y atractivas. Su
                        enfoque en la investigación y el diseño centrado en el
                        usuario.
                    </p>
                </div>
            </div>

            <div
                class="group bg-white rounded-3xl shadow-xl overflow-hidden relative transform transition-all duration-500 hover:-translate-y-2 hover:shadow-2xl"
            >
                <img
                    src="../photos/team-code/irispaola.png"
                    alt="Iris Gomez"
                    class="w-full h-72 object-cover group-hover:scale-105 transition-transform duration-500"
                />
                <div class="p-6">
                    <h3 class="text-xl font-bold text-cyan-900">Iris Gomez</h3>
                    <p class="text-sm text-gray-500 mb-2">
                        Coordinadora de Proyectos
                    </p>
                    <p class="text-gray-600 text-sm">
                        Ingeniera Apasionada por la optimizacion de tiempo y
                        recursos. Con experiencia en gestión de proyectos y
                        liderazgo de equipos. Su enfoque es la entrega de
                        proyectos de alta calidad en tiempo y forma. Con
                        habilidades en la gestión de recursos, planificación y
                        ejecución de proyectos. Su capacidad para resolver
                        problemas y tomar decisiones rápidas la convierten en un
                        activo valioso para cualquier equipo.
                    </p>
                </div>
            </div>
        </div>

        <div class="mt-24 text-center animate-fade-in-up delay-500">
            <p class="text-gray-600 text-base max-w-3xl mx-auto">
                Más que un equipo, somos una combinación de visión, disciplina y
                creatividad. Cada proyecto es un reto que enfrentamos juntos,
                desde la estrategia hasta la ejecución.
            </p>
        </div>
    </section>

    <div class="text-center mt-0">
        <h2 class="text-2xl md:text-3xl font-semibold text-cyan-900 mb-6">
            ¿Listo para trabajar con un equipo apasionado y comprometido?
        </h2>
        <ButtonCustom text="Hablemos" href="/contact" />
    </div>
    <Whyus />
</Layout>
