---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import CardService from "../components/CardService.astro";
import Whyus from "../components/whyus.astro";
import Pricing from "../components/Pricing.astro";
import Testimonial from "../components/Testimonial.astro";
import Bannersecond from "../components/BannerSecond.astro";
import TabComponent from "../components/TabComp.tsx";
import Faq from "../components/Faq.astro";
---

<Layout>
    <Hero />

    <section class="py-20">
        <h2 class="text-5xl font-bold text-cyan-900 text-center mb-8">
            Nuestros Servicios
        </h2>

        <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 w-3/4 mx-auto"
        >
            <CardService
                icon="./icons/interfaz-de-usuario.png"
                title="Diseño UX/UI"
                description="Diseñamos experiencias digitales intuitivas y atractivas que aumentan la conversión y fidelización."
            />

            <CardService
                icon="./icons/sitio-web.png"
                title="Desarrollo Web y Apps"
                description="Creamos sitios web optimizados para SEO, rápidos, escalables y adaptados a todas las plataformas. Aplicaciones para iOS y Android con interfaces fluidas y optimizadas para rendimiento."
                learnMoreUrl="./servicios/desarrollo-web"
            />

            <CardService
                icon="./icons/diseno-grafico.png"
                title="Diseño Gráfico & Branding"
                description="Construimos identidades visuales sólidas y memorables para potenciar tu marca."
            />

            <CardService
                icon="./icons/seo.png"
                title="SEO & Posicionamiento Web"
                description="Mejoramos tu ranking en Google con estrategias de SEO técnico y contenido optimizado."
            />

            <CardService
                icon="./icons/redes-sociales.png"
                title="Gestión de Redes Sociales"
                description="Creamos estrategias de contenido y campañas de publicidad para hacer crecer tu comunidad."
            />

            <CardService
                icon="./icons/edicion-de-video.png"
                title="Edición de Video"
                description="Producción y edición de videos profesionales para publicidad y redes sociales."
            />

            <CardService
                icon="./icons/animacion.png"
                title="Animación 2D & 3D"
                description="Animaciones creativas para marketing, presentaciones y contenido interactivo."
            />

            <CardService
                icon="./icons/modelo-3d.png"
                title="Renderizados 3D"
                description="Modelado y renderizado 3D de alta calidad para arquitectura y productos."
            />

            <CardService
                icon="./icons/camiseta.png"
                title="Productos Promocionales"
                description="Personalización de artículos con sublimación, impresión digital y grabado láser."
            />
        </div>
    </section>

    <Banner
        subtitle="Sobre Nosotros"
        title="Codebrand "
        description="En Codebrand resolvemos desafíos de cualquier negocio combinando diseño, desarrollo y publicidad. He trabajado durante varios años como diseñador, programador y desarrollador web para agencias y empresas de outsourcing. Así que decidí formar una empresa que genere confianza, cercania, que priorizara la calidad y la satisfacción del cliente."
        imgUrl="./photos/Ramon-actual.webp"
    />

    <Bannersecond
        title="Servicios de Desarrollo Web y Marketing Digital a Medida"
        subtitle="Impulsamos tu marca con tecnología de alto nivel"
        description="En Codebrand, creamos experiencias digitales únicas que combinan diseño, estrategia y tecnología. Desde sitios web modernos hasta soluciones SEO y branding, ayudamos a tu empresa a destacar en línea, atraer más clientes y convertir visitas en resultados."
        imgUrl="/photos/bannercodebrand.webp"
    />

    <TabComponent
        tabs={[
            {
                title: "Diseño Web",
                description: "Creamos sitios atractivos y funcionales.",
                image: "/images/web-design.jpg",
            },
            {
                title: "SEO",
                description: "Optimizamos tu presencia en Google.",
                image: "/images/seo.jpg",
            },
            {
                title: "Branding",
                description: "Desarrollamos identidades memorables.",
                image: "/images/branding.jpg",
            },
        ]}
        client:visible
    />

    <Whyus />
    <Testimonial />
    <Pricing />
    <Faq />
</Layout>
