---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import CardService from "../components/CardService.astro";
import Whyus from "../components/whyus.astro";
import Pricing from "../components/Pricing.astro";
import Bannersecond from "../components/BannerSecond.astro";
import TabComponent from "../components/TabComp.tsx";
import Faq from "../components/Faq.astro";
import { Globe } from "../components/magicui/globe.tsx";
import Testimonial from "../components/testimonial.tsx";
import Brand from "../components/Brand.tsx";
---

<Layout
	title="Codebrand - Agencia Creativa Digital"
	description="Codebrand es una agencia creativa digital especializada en diseño gráfico, desarrollo web y marketing digital. Creamos experiencias únicas que impulsan tu marca y generan resultados."
	keywords="diseño gráfico, desarrollo web, marketing digital, branding, SEO, diseño UX/UI, aplicaciones móviles, redes sociales"
	image="/photos/bannercodebrand.webp"
>
	<Hero />
	<section>
		<Globe client:visible />
	</section>
	<!-- Services Section -->
	<section class="py-20 flex flex-col gap-20">
		<h2 class="text-4xl font-bold text-cyan-900 text-center">
			Our Solutions
			<span class="text-orange-500"> for Your Business</span>
		</h2>

		<div
			class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 w-3/4 mx-auto"
		>
			<CardService
				icon="./icons/interfaz-de-usuario.png"
				title="UX/UI Design"
				description="We design intuitive and engaging experiences that increase conversion and loyalty."
				learnMoreUrl="./products"
			/>

			<CardService
				icon="./icons/sitio-web.png"
				title="Web Development"
				description="We create SEO-optimized, fast, scalable websites tailored to all platforms. iOS and Android applications with fluid interfaces optimized for performance."
				learnMoreUrl="./products"
			/>

			<CardService
				icon="./icons/diseno-grafico.png"
				title="Branding"
				description="We create visual identities that reflect your essence and enhance your brand."
				learnMoreUrl="./products"
			/>

			<CardService
				icon="./icons/seo.png"
				title="SEO"
				description="We improve your visibility on Google with technical and content SEO strategies."
				learnMoreUrl="./products"
			/>

			<CardService
				icon="./icons/redes-sociales.png"
				title="Social Media"
				description="We develop content strategies and advertising campaigns to boost your social media presence."
				learnMoreUrl="./products"
			/>

			<CardService
				icon="./icons/edicion-de-video.png"
				title="Video Editing"
				description="We produce and edit professional videos for advertising and social media."
				learnMoreUrl="./products"
			/>

			<CardService
				icon="./icons/animacion.png"
				title="Animation 2D & 3D"
				description="We create creative motion graphics for marketing, presentations and interactive content."
				learnMoreUrl="./products"
			/>

			<CardService
				icon="./icons/modelo-3d.png"
				title="3D Rendering"
				description="We create high-quality 3D models and renderings for architecture and products."
				learnMoreUrl="./products"
			/>

			<CardService
				icon="./icons/camiseta.png"
				title="Promotional Products"
				description="Personalization of items with sublimation, digital printing."
				learnMoreUrl="./products"
			/>
		</div>
	</section>

	<Bannersecond
		subtitle="We boost your brand"
		title="Transorm your Vision into Reality"
		description="At Codebrand, we create unique digital experiences that combine design, strategy and technology. From modern websites to SEO solutions and branding, we help your business stand out online, attract more customers and convert visits into results."
		imgUrl="/photos/bannercodebrand.webp"
	/>

	<Banner
		subtitle="We are creative and passionate"
		title="Our team experts in design and technology"
		description="At Codebrand, we are a team of passionate professionals dedicated to creating unique digital experiences. We combine design, strategy and technology to help your business stand out online. Our mission is to transform your vision into reality and generate results that exceed your expectations."
		imgUrl="/photos/section.webp"
	/>

	<TabComponent
		tabs={[
			{
				title: "Desarrollo Web",
				description:
					"Desarrollamos sitios web modernos, rápidos y orientados a resultados. Nuestro servicio de diseño web incluye estructuras personalizadas, experiencia de usuario optimizada (UX/UI), velocidad de carga mejorada y adaptación móvil (responsive design). Ideal para empresas, emprendedores y marcas personales que buscan una presencia digital impactante, escalable y lista para posicionar en buscadores.",
				image: "./photos/diseñoweb.png",
			},
			{
				title: "Diseño Gráfico",
				description:
					"Construimos marcas con propósito, coherencia y personalidad. Nuestro enfoque en branding incluye diseño de logotipo, paleta de colores, tipografía, tono de comunicación y manual de marca. Te ayudamos a desarrollar una identidad visual sólida y memorable que conecte emocionalmente con tu audiencia y refleje los valores de tu negocio.",
				image: "./photos/Branding.png",
			},
			{
				title: "Mobile Application Development",
				description:
					"Estamos ampliando los límites de lo que es posible en el móvil mediante la creación de experiencias móviles transformadoras que resuelven los retos empresariales para clientes que van desde grandes empresas a startups innovadoras y emprendedores creativos. Con un profundo conocimiento del desarrollo de aplicaciones nativas para iOS, Android y multiplataforma, nos aseguramos de que su idea se transforme en una solución móvil atractiva, fácil de usar y con un diseño atractivo de calidad superior.",
				image: "./photos/diseñoweb.png",
			},
			{
				title: "Social Media",
				description:
					"Desarrollamos estrategias de contenido y campañas publicitarias para potenciar tu presencia en redes sociales. Creamos publicaciones atractivas, gestionamos la comunidad y analizamos resultados para optimizar el rendimiento. Nuestro enfoque incluye la creación de contenido visual, redacción persuasiva y gestión de anuncios en plataformas como Facebook, Instagram y LinkedIn.",
				image: "./photos/socialmedia.png",
			},
			{
				title: "SEO",
				description:
					"Mejoramos tu visibilidad en Google con estrategias de SEO técnico y de contenido. Realizamos auditorías, optimización de palabras clave, creación de enlaces y análisis de competencia. Nuestro enfoque incluye la investigación de palabras clave, optimización on-page y off-page, y generación de informes para medir el rendimiento.",
				image: "./photos/seo.png",
			},
			{
				title: "Video Editing",
				description:
					"Producción y edición de videos profesionales para publicidad y redes sociales. Creamos contenido atractivo y optimizado para captar la atención de tu audiencia. Nuestro enfoque incluye la creación de guiones, grabación, edición y postproducción para lograr un resultado impactante.",
				image: "./photos/videoedition.png",
			},
			{
				title: "2D & 3D Animation",
				description:
					"Animaciones creativas para marketing, presentaciones y contenido interactivo. Creamos videos animados que comunican tu mensaje de manera efectiva y atractiva. Nuestro enfoque incluye la creación de guiones, storyboards, animación y postproducción para lograr un resultado impactante.",
				image: "./photos/animation.png",
			},
			{
				title: "3D Rendering",
				description:
					"Modelado y renderizado 3D de alta calidad para arquitectura y productos. Creamos imágenes realistas que ayudan a visualizar proyectos y productos de manera efectiva. Nuestro enfoque incluye la creación de modelos 3D, texturización, iluminación y renderizado para lograr un resultado impactante.",
				image: "./photos/render3d.png",
			},
			{
				title: "Promotional Products",
				description:
					"Personalización de artículos con sublimación, impresión digital y grabado láser. Creamos productos promocionales únicos que reflejan la identidad de tu marca. Nuestro enfoque incluye la selección de productos, diseño personalizado y producción para lograr un resultado impactante.",
				image: "./photos/promocionales.png",
			},
			{
				title: "E-commerce",
				description:
					"Desarrollamos tiendas online personalizadas y optimizadas para SEO. Creamos experiencias de compra atractivas y fáciles de usar. Nuestro enfoque incluye la creación de catálogos, integración de pasarelas de pago y optimización de la experiencia del usuario.",
				image: "./photos/diseñoweb.png",
			},
		]}
		client:visible
	/>

	<Brand client:visible />

	<Whyus />

	<section class="pt-12 px-4 md:px-8 bg-white">
		<div class="max-w-4xl mx-auto text-center">
			<h2 class="text-3xl font-bold text-cyan-900 mb-6">
				Opiniones Reales de Nuestros Clientes
			</h2>
		</div>
	</section>

	<Testimonial client:visible />

	<Pricing />
	<Faq />
</Layout>
