---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import CardService from "../components/CardService.astro";
import Whyus from "../components/whyus.astro";
import Pricing from "../components/Pricing.astro";
import Bannersecond from "../components/BannerSecond.astro";
import TabComponent from "../components/TabComp.tsx";
import Faq from "../components/Faq.astro";
import { Globe } from "../components/magicui/globe.tsx";
import Testimonial from "../components/testimonial.tsx";
import Brand from "../components/Brand.tsx";
import Beam from "../components/beam.tsx";
import Button from "@/components/Button.astro";
---

<Layout
	title="Codebrand - Agencia Creativa Digital"
	description="Codebrand es una agencia creativa digital especializada en diseño gráfico, desarrollo web y marketing digital. Creamos experiencias únicas que impulsan tu marca y generan resultados."
	keywords="diseño gráfico, desarrollo web, marketing digital, branding, SEO, diseño UX/UI, aplicaciones móviles, redes sociales"
	image="/photos/bannercodebrand.webp"
>
	<Hero />
	<section>
		<Globe client:visible />
	</section>

	<!-- Services Section -->
	<section class="py-20 flex flex-col gap-20">
		<h2 class="text-4xl font-bold text-cyan-900 text-center">
			Smart Solutions, <span class="text-orange-500">Real impact</span>
		</h2>

		<div
			class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 w-3/4 mx-auto"
		>
			<CardService
				icon="./icons/interfaz-de-usuario.png"
				title="UX/UI Design"
				description="We design intuitive and engaging experiences that increase conversion and loyalty."
				learnMoreUrl="./products"
			/>

			<CardService
				icon="./icons/sitio-web.png"
				title="Web Development"
				description="We create SEO-optimized, fast, scalable websites tailored to all platforms. iOS and Android applications with fluid interfaces optimized for performance."
				learnMoreUrl="./products"
			/>

			<CardService
				icon="./icons/diseno-grafico.png"
				title="Branding"
				description="We create visual identities that reflect your essence and enhance your brand."
				learnMoreUrl="./products"
			/>

			<CardService
				icon="./icons/seo.png"
				title="SEO"
				description="We improve your visibility on Google with technical and content SEO strategies."
				learnMoreUrl="./products"
			/>

			<CardService
				icon="./icons/redes-sociales.png"
				title="Social Media"
				description="We develop content strategies and advertising campaigns to boost your social media presence."
				learnMoreUrl="./products"
			/>

			<CardService
				icon="./icons/edicion-de-video.png"
				title="Video Editing"
				description="We produce and edit professional videos for advertising and social media."
				learnMoreUrl="./products"
			/>

			<CardService
				icon="./icons/animacion.png"
				title="Animation 2D & 3D"
				description="We create creative motion graphics for marketing, presentations and interactive content."
				learnMoreUrl="./products"
			/>

			<CardService
				icon="./icons/modelo-3d.png"
				title="3D Rendering"
				description="We create high-quality 3D models and renderings for architecture and products."
				learnMoreUrl="./products"
			/>

			<CardService
				icon="./icons/camiseta.png"
				title="Promotional Products"
				description="Personalization of items with sublimation, digital printing."
				learnMoreUrl="./products"
			/>
		</div>
	</section>

	<section class="relative bg-white py-5">
		<div
			class="flex flex-col items-center justify-center text-center max-w-4xl mx-auto"
		>
			<h2
				class="text-4xl md:text-5xl font-extrabold text-cyan-900 leading-tight"
			>
				Smart Automations, Real Impact
			</h2>
			<p class="mt-6 text-lg md:text-xl text-gray-700">
				We design and implement intelligent automations that save you
				time, reduce costs, and boost your business performance. From
				CRM systems to marketing automation flows, our team identifies
				the best tools to streamline your operations.
			</p>
			<p class="mt-4 text-md text-gray-600 max-w-2xl">
				Unlock your next level of growth with custom automation
				strategies tailored to your business. Let's build smarter
				systems together—starting today.
			</p>
			<div class="mt-8">
				<Button text="Get a Free Consultation" href="/contact" />
			</div>
		</div>

		<!-- Beam visual component rendered only on client side -->
		<Beam client:visible />
	</section>

	<Bannersecond
		subtitle="We boost your brand"
		title="Transorm your Vision into Reality"
		description="If you’re serious about growth, it’s time to act. We build digital experiences that turn potential into results—through design, strategy, and smart technology. Your brand deserves more than maintenance. It deserves momentum."
		imgUrl="/photos/bannercodebrand.webp"
	/>

	<Banner
		subtitle="More than creatives - We are your partners"
		title="Your team of design and technology experts"
		description="At Codebrand, we don’t just execute ideas—we shape and elevate them. We help your company define a new standard of style, performance, and impact through high-level design, branding, and digital marketing."
		imgUrl="/photos/section.webp"
	/>

	<TabComponent
		tabs={[
			{
				title: "Web Development",
				description:
					"We develop modern, fast, and results-driven websites. Our web design service includes custom structures, optimized user experience (UX/UI), improved loading speed, and responsive design. Ideal for businesses, entrepreneurs, and personal brands looking for an impactful, scalable, and SEO-ready digital presence.",
				image: "./photos/diseñoweb.png",
			},
			{
				title: "Graphic Design",
				description:
					"We build brands with purpose, consistency, and personality. Our branding approach includes logo design, color palette, typography, communication tone, and brand guidelines. We help you develop a strong, memorable visual identity that emotionally connects with your audience and reflects your business values.",
				image: "./photos/Branding.png",
			},
			{
				title: "Mobile Application Development",
				description:
					"We push the boundaries of what’s possible on mobile by creating transformative experiences that solve business challenges for clients ranging from large enterprises to innovative startups and creative entrepreneurs. With deep expertise in native iOS, Android, and cross-platform development, we ensure your idea becomes a high-quality mobile solution that’s engaging, user-friendly, and beautifully designed.",
				image: "./photos/diseñoweb.png",
			},
			{
				title: "Social Media",
				description:
					"We develop content strategies and ad campaigns to boost your social media presence. We create engaging posts, manage your community, and analyze results to optimize performance. Our approach includes visual content creation, persuasive copywriting, and ad management on platforms like Facebook, Instagram, and LinkedIn.",
				image: "./photos/socialmedia.png",
			},
			{
				title: "SEO",
				description:
					"We improve your visibility on Google with technical and content SEO strategies. We conduct audits, keyword optimization, link building, and competitor analysis. Our approach includes keyword research, on-page and off-page optimization, and reporting to measure performance.",
				image: "./photos/seo.png",
			},
			{
				title: "Video Editing",
				description:
					"Professional video production and editing for advertising and social media. We create engaging, optimized content to capture your audience’s attention. Our process includes scriptwriting, filming, editing, and post-production for high-impact results.",
				image: "./photos/videoedition.png",
			},
			{
				title: "2D & 3D Animation",
				description:
					"Creative animations for marketing, presentations, and interactive content. We produce animated videos that communicate your message effectively and engagingly. Our approach includes scripting, storyboarding, animation, and post-production for maximum impact.",
				image: "./photos/animation.png",
			},
			{
				title: "3D Rendering",
				description:
					"High-quality 3D modeling and rendering for architecture and products. We create realistic visuals that help you effectively showcase projects and products. Our process includes 3D modeling, texturing, lighting, and rendering for stunning results.",
				image: "./photos/render3d.png",
			},
			{
				title: "Promotional Products",
				description:
					"Customization of items through sublimation, digital printing, and laser engraving. We create unique promotional products that reflect your brand identity. Our approach includes product selection, custom design, and production to deliver outstanding results.",
				image: "./photos/promocionales.png",
			},
			{
				title: "E-commerce",
				description:
					"We develop customized and SEO-optimized online stores. We create attractive, user-friendly shopping experiences. Our process includes catalog creation, payment gateway integration, and user experience optimization.",
				image: "./photos/diseñoweb.png",
			},
		]}
		client:visible
	/>

	<Brand client:visible />

	<Whyus />

	<section class="pt-12 px-4 md:px-8 bg-white">
		<div class="max-w-4xl mx-auto text-center">
			<h2 class="text-3xl font-bold text-cyan-900 mb-6">
				Real Reviews from Our Clients
			</h2>
		</div>
	</section>

	<Testimonial client:visible />

	<Pricing />
	<Faq />
</Layout>
