---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import CardService from "../components/CardService.astro";
import Whyus from "../components/whyus.astro";
import Pricing from "../components/Pricing.astro";
import Bannersecond from "../components/BannerSecond.astro";
import TabComponent from "../components/TabComp.tsx";
import Faq from "../components/Faq.astro";
import { Globe } from "../components/magicui/globe.tsx";
import Testimonial from "../components/testimonial.tsx";
import Brand from "../components/Brand.tsx";
---

<Layout>
	<Hero />
	<section>
		<Globe client:visible />
	</section>
	<!-- Services Section -->
	<section class="py-20 flex flex-col gap-20">
		<h2 class="text-4xl font-bold text-cyan-900 text-center">
			Nuestros Servicios
		</h2>

		<div
			class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 w-3/4 mx-auto"
		>
			<CardService
				icon="./icons/interfaz-de-usuario.png"
				title="Diseño UX/UI"
				description="Diseñamos experiencias digitales intuitivas y atractivas que aumentan la conversión y fidelización."
				learnMoreUrl="./products"
			/>

			<CardService
				icon="./icons/sitio-web.png"
				title="Desarrollo Web y Apps"
				description="Creamos sitios web optimizados para SEO, rápidos, escalables y adaptados a todas las plataformas. Aplicaciones para iOS y Android con interfaces fluidas y optimizadas para rendimiento."
				learnMoreUrl="./products"
			/>

			<CardService
				icon="./icons/diseno-grafico.png"
				title="Diseño Gráfico & Branding"
				description="Construimos identidades visuales sólidas y memorables para potenciar tu marca."
				learnMoreUrl="./products"
			/>

			<CardService
				icon="./icons/seo.png"
				title="SEO & Posicionamiento Web"
				description="Mejoramos tu ranking en Google con estrategias de SEO técnico y contenido optimizado."
				learnMoreUrl="./products"
			/>

			<CardService
				icon="./icons/redes-sociales.png"
				title="Gestión de Redes Sociales"
				description="Creamos estrategias de contenido y campañas de publicidad para hacer crecer tu comunidad."
				learnMoreUrl="./products"
			/>

			<CardService
				icon="./icons/edicion-de-video.png"
				title="Edición de Video"
				description="Producción y edición de videos profesionales para publicidad y redes sociales."
				learnMoreUrl="./products"
			/>

			<CardService
				icon="./icons/animacion.png"
				title="Animación 2D & 3D"
				description="Animaciones creativas para marketing, presentaciones y contenido interactivo."
				learnMoreUrl="./products"
			/>

			<CardService
				icon="./icons/modelo-3d.png"
				title="Renderizados 3D"
				description="Modelado y renderizado 3D de alta calidad para arquitectura y productos."
				learnMoreUrl="./products"
			/>

			<CardService
				icon="./icons/camiseta.png"
				title="Productos Promocionales"
				description="Personalización de artículos con sublimación, impresión digital y grabado láser."
				learnMoreUrl="./products"
			/>
		</div>
	</section>

	<Bannersecond
		subtitle="Impulsamos tu marca"
		title="Transforma tu vision en Resultados que Venden"
		description="En Codebrand, creamos experiencias digitales únicas que combinan diseño, estrategia y tecnología. Desde sitios web modernos hasta soluciones SEO y branding, ayudamos a tu empresa a destacar en línea, atraer más clientes y convertir visitas en resultados."
		imgUrl="/photos/bannercodebrand.webp"
	/>

	<Banner
		subtitle="Agencia Creativa Digital"
		title="Expertos en Diseño Gráfico y Desarrollo Web Personalizado"
		description="En Codebrand transformamos ideas en experiencias digitales impactantes. Combinamos diseño estratégico, desarrollo a medida y marketing digital para resolver los desafíos de negocios modernos. Con años de experiencia como diseñador y desarrollador para agencias internacionales, fundé Codebrand para ofrecer un servicio cercano, confiable y orientado a resultados. Calidad, atención y compromiso nos definen."
		imgUrl="/photos/section.webp"
	/>

	<TabComponent
		tabs={[
			{
				title: "Desarrollo Web",
				description:
					"Desarrollamos sitios web modernos, rápidos y orientados a resultados. Nuestro servicio de diseño web incluye estructuras personalizadas, experiencia de usuario optimizada (UX/UI), velocidad de carga mejorada y adaptación móvil (responsive design). Ideal para empresas, emprendedores y marcas personales que buscan una presencia digital impactante, escalable y lista para posicionar en buscadores.",
				image: "./photos/diseñoweb.png",
			},
			{
				title: "Diseño Gráfico",
				description:
					"Construimos marcas con propósito, coherencia y personalidad. Nuestro enfoque en branding incluye diseño de logotipo, paleta de colores, tipografía, tono de comunicación y manual de marca. Te ayudamos a desarrollar una identidad visual sólida y memorable que conecte emocionalmente con tu audiencia y refleje los valores de tu negocio.",
				image: "./photos/Branding.png",
			},
			{
				title: "Mobile Application Development",
				description:
					"Estamos ampliando los límites de lo que es posible en el móvil mediante la creación de experiencias móviles transformadoras que resuelven los retos empresariales para clientes que van desde grandes empresas a startups innovadoras y emprendedores creativos. Con un profundo conocimiento del desarrollo de aplicaciones nativas para iOS, Android y multiplataforma, nos aseguramos de que su idea se transforme en una solución móvil atractiva, fácil de usar y con un diseño atractivo de calidad superior.",
				image: "./photos/diseñoweb.png",
			},
			{
				title: "Social Media",
				description:
					"Desarrollamos estrategias de contenido y campañas publicitarias para potenciar tu presencia en redes sociales. Creamos publicaciones atractivas, gestionamos la comunidad y analizamos resultados para optimizar el rendimiento. Nuestro enfoque incluye la creación de contenido visual, redacción persuasiva y gestión de anuncios en plataformas como Facebook, Instagram y LinkedIn.",
				image: "./photos/socialmedia.png",
			},
			{
				title: "SEO",
				description:
					"Mejoramos tu visibilidad en Google con estrategias de SEO técnico y de contenido. Realizamos auditorías, optimización de palabras clave, creación de enlaces y análisis de competencia. Nuestro enfoque incluye la investigación de palabras clave, optimización on-page y off-page, y generación de informes para medir el rendimiento.",
				image: "./photos/seo.png",
			},
			{
				title: "Video Editing",
				description:
					"Producción y edición de videos profesionales para publicidad y redes sociales. Creamos contenido atractivo y optimizado para captar la atención de tu audiencia. Nuestro enfoque incluye la creación de guiones, grabación, edición y postproducción para lograr un resultado impactante.",
				image: "./photos/videoedition.png",
			},
			{
				title: "2D & 3D Animation",
				description:
					"Animaciones creativas para marketing, presentaciones y contenido interactivo. Creamos videos animados que comunican tu mensaje de manera efectiva y atractiva. Nuestro enfoque incluye la creación de guiones, storyboards, animación y postproducción para lograr un resultado impactante.",
				image: "./photos/animation.png",
			},
			{
				title: "3D Rendering",
				description:
					"Modelado y renderizado 3D de alta calidad para arquitectura y productos. Creamos imágenes realistas que ayudan a visualizar proyectos y productos de manera efectiva. Nuestro enfoque incluye la creación de modelos 3D, texturización, iluminación y renderizado para lograr un resultado impactante.",
				image: "./photos/render3d.png",
			},
			{
				title: "Promotional Products",
				description:
					"Personalización de artículos con sublimación, impresión digital y grabado láser. Creamos productos promocionales únicos que reflejan la identidad de tu marca. Nuestro enfoque incluye la selección de productos, diseño personalizado y producción para lograr un resultado impactante.",
				image: "./photos/promocionales.png",
			},
			{
				title: "E-commerce",
				description:
					"Desarrollamos tiendas online personalizadas y optimizadas para SEO. Creamos experiencias de compra atractivas y fáciles de usar. Nuestro enfoque incluye la creación de catálogos, integración de pasarelas de pago y optimización de la experiencia del usuario.",
				image: "./photos/diseñoweb.png",
			},
		]}
		client:visible
	/>

	<Brand client:visible />

	<Whyus />

	<section class="pt-12 px-4 md:px-8 bg-white">
		<div class="max-w-4xl mx-auto text-center">
			<h2 class="text-3xl font-bold text-cyan-900 mb-6">
				Opiniones Reales de Nuestros Clientes
			</h2>
		</div>
	</section>

	<Testimonial client:visible />

	<Pricing />
	<Faq />
</Layout>
