---
const { title, subtitle, description, imgUrl, customCss } = Astro.props;
---

<section>
    <div class="mx-auto max-w-screen-xl w-3/4 py-24">
        <div
            class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8"
        >
            <div class="flex justify-center w-full mx-auto md:w-full">
                <div class="flex flex-col max-w-lg md:max-w-none gap-2.5">
                    <span
                        class="text-orange-400 font-semibold text-xl uppercase"
                        >{subtitle}</span
                    >

                    <h2
                        class="text-3xl sm:text-4xl md:text-4xl lg:text-5xl font-bold text-gray-900"
                    >
                        {title}
                    </h2>

                    <p class="mt-4 text-gray-700 text-xl">
                        {description}
                    </p>
                </div>
            </div>

            <div
                class="relative flex justify-center w-full mx-auto md:w-full overflow-hidden
                   transition-transform duration-700 ease-in-out
                   hover:scale-105"
                style="
                mask-image: linear-gradient(to bottom, black 66%, transparent 99%) !important;
            "
            >
                <!-- Parallax Effect -->
                <img
                    src={imgUrl}
                    alt=""
                    class="rounded-lg shadow-lg transition-all duration-500
                       hover:scale-105"
                />
            </div>
        </div>
    </div>
</section>
