---
interface ButtonProps {
    text: string;
    href: string;
}

const { text, href } = Astro.props;
---

<a
    href={href}
    class="bg-gradient-to-r from-[#f48200] to-[#faa732] text-white font-semibold
   py-[15px] px-[30px] rounded-full shadow-lg
   hover:from-[#007BFF] hover:to-[#00BCD4] hover:shadow-2xl hover:brightness-125
   transition-all duration-300 ease-in-out
   transform hover:scale-105 active:scale-95 hover:-rotate-2 border-none text-sm lg:text-lg"
>
    {text}
</a>
