---
import Faqcomp from "../components/Faqcomp.tsx";
import type { FAQItem } from "../components/Faqcomp.tsx";

const faqs: FAQItem[] = [
    {
        question: "¿Qué servicios ofrece Codebrand?",
        answer: "Ofrecemos desarrollo web, diseño UX/UI, branding, SEO, y más.",
    },
    {
        question: "¿Dónde están ubicados?",
        answer: "Tenemos presencia en España y Centroamérica, pero trabajamos globalmente.",
    },
    {
        question: "¿Cómo puedo contactar al equipo?",
        answer: "Podés escribirnos a través del formulario de contacto o por correo electrónico.",
    },
];
---

<section class="flex py-16 items-center justify-center cont">
    <div
        class="w-full max-w-3/4 flex gap-10 flex-col justify-center items-center"
    >
        <h2
            class="text-4xl text-center sm:text-4xl md:text-5xl font-bold text-cyan-900 leading-tight"
        >
            Preguntas Frecuentes
        </h2>
        <Faqcomp faqs={faqs} client:visible />
    </div>
</section>
