---
import Logo from "../components/logo.astro";
import Button from "./Button.astro";

const menuItems = [
    { name: "Home", link: "#", hasDropdown: false },
    {
        name: "Pages",
        link: "#",
        hasDropdown: true,
        subItems: ["About Us", "Our Team", "Blog"],
    },
    {
        name: "Service",
        link: "#",
        hasDropdown: true,
        subItems: ["Web Design", "SEO", "Marketing"],
    },
    { name: "Contact", link: "#", hasDropdown: false },
];
---

<div class="bg-scroll-custom sticky top-0 left-0 right-0 z-50 bg-white">
    <nav class="transition-all duration-300">
        <div
            class="max-w-7xl mx-auto flex justify-between items-center py-4 px-6"
        >
            <!-- Logo -->
            <Logo src="../assets/codebrand.svg" sizeW="175" />

            <!-- Menú principal -->
            <div
                class="hidden md:flex items-center space-x-6 px-8 py-4 gap-3 rounded-full"
            >
                {
                    menuItems.map((item) => (
                        <div class="relative group">
                            <a
                                href={item.link}
                                class="text-black text-md font-medium font-poppins flex items-center gap-2 hover:text-orange-400 transition duration-300"
                            >
                                {item.name}{" "}
                                {item.hasDropdown && (
                                    <span style="font-size: 7px;">▼</span>
                                )}
                            </a>
                            {item.hasDropdown &&
                                (item.subItems ?? []).length > 0 && (
                                    <div class="absolute left-0 mt-2 w-40 bg-white backdrop-blur-sm rounded-lg shadow-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                                        {item.subItems?.map((subItem) => (
                                            <a
                                                href="#"
                                                class="block px-4 py-2 text-sm text-black hover:text-orange-400"
                                            >
                                                {subItem}
                                            </a>
                                        ))}
                                    </div>
                                )}
                        </div>
                    ))
                }
            </div>

            <Button text="Hablemos!" href="#" />
        </div>
    </nav>
</div>

<style>
    .bg-scroll-custom {
        container-type: scroll-state;
        position: sticky;
        top: 0px;
    }

    .bg-scroll-custom {
        container-type: scroll-state;
        position: sticky;
        top: 0px;

        > nav {
            @container scroll-state(stuck: top) {
                background: rgb(255, 255, 255);
                backdrop-filter: blur(20px);
                box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.1);
            }
        }
    }
</style>
