---
import Slider from "./slider";

const testimonials = [
    {
        quote: "Gracias al equipo de Codebrand, nuestra plataforma ahora carga 3 veces más rápido.",
        name: "Laura Méndez",
        role: "CTO de FinTechNow",
        image: "/images/laura.jpg",
    },
    {
        quote: "Implementaron soluciones escalables con precisión quirúrgica.",
        name: "Carlos Pinto",
        role: "Tech Lead en Nova AI",
        image: "/images/carlos.jpg",
    },
    {
        quote: "Gran experiencia. Muy recomendable.",
        name: "Andrea García",
        role: "Product Manager en Creatix",
        image: "/images/andrea.jpg",
    },
    {
        quote: "Gran experiencia. Muy recomendable.",
        name: "Andrea García",
        role: "Product Manager en Creatix",
        image: "/images/andrea.jpg",
    },
    {
        quote: "Gran experiencia. Muy recomendable.",
        name: "Andrea García",
        role: "Product Manager en Creatix",
        image: "/images/andrea.jpg",
    },
    {
        quote: "Gran experiencia. Muy recomendable.",
        name: "Andrea García",
        role: "Product Manager en Creatix",
        image: "/images/andrea.jpg",
    },
    {
        quote: "Gran experiencia. Muy recomendable.",
        name: "Andrea García",
        role: "Product Manager en Creatix",
        image: "/images/andrea.jpg",
    },
];
---

<section class="bg-[#080c15] py-20 px-4">
    <Slider testimonials={testimonials} client:load />
</section>
